$font-stack: Ubuntu, Trebuchet MS, Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
    width: 100%; height: 100%;
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    header {
        width: 70%; height: 100%;
        min-height: 34vh;
        padding: 5vh 0;
        font-size: 20px;

        img {
            width: 15%;
        }
        .h1-title {
            font-size: 1.125rem;
            line-height: 1.5rem;
            padding: 0 20px;
            
            span {
                display: block;
                font-size: .875rem;
                line-height: 1.25rem;
                color: #555;
            }
            p {
                display: flex;
                align-items: center;
                position: relative;
            }
        }
    }
}
